.compare-view {
    position: absolute;
    right: 20px;
    bottom: 15px;
    .compare-buttons {
        height: 60px;
        width: 600px;
        display: flex;
        padding: 5px;
        align-items: center;
        background-color: #efefef;
        font-size: 14px;
        font-weight: 700;
        .compare {
            height: 100%;
            padding: 5px;
            flex: 3;
            border-radius: 5px;
            background-color: #3db2ff;
            margin-right: 5px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            .delete-icon {
                cursor: pointer;
                color: #ff2442;
                font-weight: 800;
                img {
                    height: 30px;
                }
            }
        }
        .button1 {
            height: 100%;
            padding: 5px;
            flex: 1;
            border-radius: 5px;
            cursor: pointer;
            background-color: #fff;
            margin-right: 5px;
            color: #2c2c2c;
            display: flex;
            align-items: center;
            justify-content: center;
            box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.5);
            &:hover {
                transform: scale(1.05);
            }
            &:active {
                transform: scale(0.95);
            }
        }
        .button2 {
            height: 100%;
            padding: 5px;
            flex: 1;
            border-radius: 5px;
            cursor: pointer;
            background-color: #ff2442;
            margin-right: 5px;
            box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.5);
            display: flex;
            align-items: center;
            justify-content: center;
            &:hover {
                transform: scale(1.05);
            }
            &:active {
                transform: scale(0.95);
            }
        }
        .compare-disabled {
            padding: 5px;
            color: #9e9e9e;
        }
    }
}
