@import '../../node_modules/react-typist/dist/Typist.css';

.launchListContainer {
    width: 100vw;
    height: 100%;
    color: #3c3c3c;
    .subContainer {
        height: 600px;
        width: 100%;
        overflow: auto;
        display: flex;
        flex-direction: column;
        padding: 20px;
    }
}
